:host {
  display: grid;
  width: 100%;
  height: 100%;
  grid-template:
    "CONTEUDO" 1fr
    "FOOTER" 38px;

  .conteudo {
    grid-area: CONTEUDO;
    width: 100%;
    height: 100%;
  }

  .footer {
    grid-area: FOOTER;
  }
}
