<div class="p-3 flex h-full w-full justify-content-center align-items-center">
  <vhp-form-card @fadeAndSlide>
    <ng-template #illustrationTemplate>
      <div
        class="w-full flex flex-column justify-content-between align-items-center"
      >
        <div
          class="w-full flex justify-content-center align-content-center flex-column text-center"
        >
          <p class="text-2xl mb-3 font-bold text-left">
            {{ "recuperar_senha.labels.recuperacao_senha" | translate }}
          </p>
          <p class="text-lg text-left">
            {{
              "recuperar_senha.descriptions.nunca_pediremos_sua_senha"
                | translate
            }}
          </p>
        </div>
        <div class="w-full">
          <img
            class="w-full h-full"
            src="assets/illustrations/forms.svg"
            [alt]="
              'recuperar_senha.illustrations.preencher_formulario' | translate
            "
          />
        </div>
      </div>
    </ng-template>
    <ng-template #formTemplate>
      <form
        class="grid grid-nogutter"
        [formGroup]="formGroup"
        (ngSubmit)="recuperarSenha()"
      >
        <div class="col-12 mb-3">
          <p class="text-2xl font-bold">
            {{
              "recuperar_senha.labels.solicitacao_recuperacao_senha" | translate
            }}
          </p>
          <p class="mt-2 text-sm">
            {{
              "recuperar_senha.descriptions.instrucoes_solicitacao_recuperacao_senha"
                | translate
            }}
          </p>
        </div>

        <div class="col-12">
          <vhp-input
            label="common.fields.email.label"
            type="text"
            [sufixIcon]="icons.sufixIconEmail"
            formControlName="email"
            [validations]="validationMessages['email']"
          ></vhp-input>
        </div>

        <div class="col-12">
          <button
            class="text-light mt-4 p-button-sm p-button-rounded w-full flex justify-content-center text-md"
            type="submit"
            pButton
            pRipple
            [disabled]="isFormInvalid || isLoading"
          >
            <span *ngIf="!isLoading; else spinner">{{
              "Solicitar" | translate
            }}</span>
            <ng-template #spinner>
              <i class="pi pi-spin pi-spinner"></i>
            </ng-template>
          </button>
        </div>
        <vhp-anchor class="inline-block mt-5" link="/login">
          <div class="flex align-items-center">
            <i class="pi pi-angle-left text-sm"></i>
            <span class="text-sm">{{
              "cadastro_usuario.labels.voltar" | translate
            }}</span>
          </div>
        </vhp-anchor>
      </form>
    </ng-template>
  </vhp-form-card>
</div>
