:host {
  display: block;
  margin-bottom: 0.5rem;
}

.icone-sufixo-campo {
  top: 0;
  margin-top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

input {
  &:focus,
  &:hover {
    ~ .icone-sufixo-campo,
    ~ i {
      color: var(--primary-dark);
    }
  }

  &.ng-dirty.ng-touched.ng-invalid {
    ~ label,
    ~ .icone-sufixo-campo,
    ~ i {
      color: var(--invalid-state);
    }
  }
}
