<div class="mt-4 p-float-label w-full" [ngClass]="wrapperClasses">
  <p-password
    #input
    [ngClass]="classes"
    [attr.aria-describedby]="uniqueId"
    class="p-inputtext-sm block w-full"
    inputStyleClass="w-full"
    [inputId]="uniqueId"
    styleClass="w-full"
    type="password"
    [feedback]="feedback"
    [toggleMask]="showPassword"
    [showClear]="showClear"
    [promptLabel]="'common.fields.senha.prompt' | translate"
    [weakLabel]="'common.fields.senha.weight.weak' | translate"
    [mediumLabel]="'common.fields.senha.weight.medium' | translate"
    [strongLabel]="'common.fields.senha.weight.strong' | translate"
    (input)="valueChanges(input.value)"
    (onClear)="valueChanges('')"
  ></p-password>
  <i
    *ngIf="prefixIcon"
    class="icone-prefixo-campo text-md"
    [ngClass]="prefixIcon"
  ></i>
  <i
    *ngIf="sufixIcon"
    class="icone-sufixo-campo text-md"
    [ngClass]="sufixIcon"
  ></i>

  <label [for]="uniqueId">{{ label | translate }}</label>
</div>
<vhp-error-message-field
  [field]="field"
  [messages]="validations"
></vhp-error-message-field>
